{% extends "base.html" %}

{% block content %}
<div>
    <br>
    <br>
    <h1>This from index file</h1>
    <div class="row gap-1 p-3">
        {% for i in d %}
            
                <div class="card col-3" style="width: 18rem;">
                    <img src="{{i.strMealThumb}}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">{{i.strMeal}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
        {% endfor %}
    </div>

</div>
{% endblock content %}
